<h1 style='color: #6a5acd; font-size: 34px; font-weight: bold;'>Exploração Biblioteca UFRN

</h1>

# <font color="#cda35a" style="font-size: 30px;">Objetivo</font>
<hr style="border: 2px solid #cda35a;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b> Explorar dos dados da biblioteca da UFRN, responde algumas preguntas, como: A quantidade de empréstimos está aumentando ou diminuindo ao decorrer dos últimos anos? Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?
Quais são os temas mais emprestados? E os menos? _______ e indentificar possíveis problemas e soluções </b></i>     
</p>

---

# <font color="#cda35a" style="font-size: 30px;">Roteiro</font>
<hr style="border: 2px solid #cda35a;">

<h1 style='color: black; font-size:22px; font-weight: bold;'> 1. Importação de dados
</h1>

---

<h1 style='color: black; font-size: 22px; font-weight: bold;'>2. Limpeza de dados

</h1>

---

<h1 style='color: black; font-size: 22px; font-weight: bold;'> 
3. Análise exploratória de dados e DateTime
</h1>

---

<h1 style='color: black; font-size: 22px; font-weight: bold;'> 
4. Análise exploratória de dados e Variáveis categóricas
</h1>

---

<h1 style='color: black; font-size: 22px; font-weight: bold;'> 
5. Análise exploratória de dados e Boxplot
</h1>

---

<h1 style='color: black; font-size: 22px; font-weight: bold;'> 
6. JSON, Excel e Pivot_table
</h1>

---

<h1 style='color: black; font-size: 22px; font-weight: bold;'> 
7. Customização de tabelas
</h1>

---

# <font color="#cda35a" style="font-size: 30px;">1. Importação de dados</font>
<hr style="border: 2px solid #cda35a;">

---
## <font color=#5abdcd style="font-size: 30px;">Unificar todos os arquivos em um único Dataframe</font>

---

In [37]:
#importando bibliotecas

import pandas as pd
import os

In [38]:
# Lista para armazenar os caminhos dos arquivos CSV
file_paths = [
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20101.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20102.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20111.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20112.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20121.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20122.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20131.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20132.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20141.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20142.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20151.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20152.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20161.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20162.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20171.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20172.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20181.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20182.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20191.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20192.csv"),
    os.path.join("Datasets", "dados_emprestimos", "emprestimos-20201.csv")
]


# Lista para armazenar os DataFrames de cada arquivo
data_frames = []

# Iterar sobre os caminhos dos arquivos CSV
for file_path in file_paths:
    df = pd.read_csv(file_path)
    data_frames.append(df)

# Concatenar os DataFrames em um único DataFrame
combined_df = pd.concat(data_frames, ignore_index=True)

In [39]:
df_parquet = pd.read_parquet(os.path.join("Datasets", "dados_exemplares.parquet"))
df = combined_df.merge(df_parquet, on="codigo_barras", how="left")
df.head(3)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0

---
## <font color=#5abdcd style="font-size: 30px;">Limpando dados Nulos e Duplicatas</font>

---

In [40]:
# Remover linhas com valores ausentes
df.dropna(inplace=True)

# Remover linhas duplicadas
df.drop_duplicates(inplace=True)